.front-page-container, html, body{
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
}

.front-page-container {
    display: flex;
    flex-direction: column;
}

.front-page-container div {
    flex: 1;
}

.header-container{
    display: flex;
    padding: 0 200px 0 200px; 
    flex-direction: column;
    background-color: #1F2937;
    color: white;

}
/* Header */
.header-one{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header-logo:nth-child(1){
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    margin-top: 10px;
    align-self: flex-start;
    flex: 10;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
}

.header-two{
    display: flex;
    margin: 60px 0 10px 0;
    align-self: flex-start;
}

.welcome {
    font-size: 48px;
    font-weight:700;
    color: #F9FAF8;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 5px;
}

.header-two-item-two{
    display: flex;
}

.header-image{
    background-color: #3d434e;
    text-align: center;
    line-height: 150px;
}


/* Level 1 */

.level-one-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0 200px 0 200px; 
}

.level-one-title{
    font-weight: 800;
    font-size: 25px;
    color: #1F2937;
}

.level-one-image-container {
    display: flex;
    gap: 30px;
}

.image{
    border: 2.5px solid #3882F6;
    border-radius: 10px;
    height: 125px;
    width: 125px;
}

.level-one-subtext-container{
    display: flex;
    gap: 60px;
}

.subtext {
    /* border: 2px solid green; */
    font-size: 14px;
    text-align: center;
    margin: 5px 0 10px 0;
    color: gray;
    width: 100px;
}

/* Level 2 */
.level-two-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px 0 200px; 
}

.level-two-quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    width: 600px;
    margin-bottom: 5px;
}

.level-two-author{
    margin-left: calc(600px - 150px);
    width: 300px;
    font-weight: 600;
}

/* Level 3 */
.level-three-container{
    display: flex;
    padding: 0 200px 0 200px;
    justify-content: center;
}

.level-three-box{
    display: flex;
    background-color: #3882F6;
    margin: 40px 300px 40px 300px;
    border-radius: 5px;
    color: #F9FAF8;
    height: auto;
    min-width: 1200px;

}

.level-three-box-prompt{
    display:flex;
    flex-direction: column;
    width: 600px;
    margin-right: 0px;

}

.prompt-header , .prompt-detail{
    margin-left: 20px;
    width: 450px;
}

.level-three-box-button{
    border: 3px solid #F9FAF8;
    border-radius: 5px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    /* margin-left: 150px;  */
    margin-right: 150px;
}

.footer-container{
    padding: 0 200px 0 200px;
    background-color: #1F2937; 
    height:50px;
}

