.front-page-container, html, body{
    height: 100%;
    margin: 0px;
}

.front-page-container {
    display: flex;
    flex-direction: column;
}

.front-page-container div {
    flex-direction: column;
    flex: 1;
}

.header-container{
    flex-direction: column;
    border: 1px solid red;
    background-color: #1F2937;
    color: white;

}

.level-one-container{
    background-color: aqua;
}

.level-two-container {
    background-color: red;
}

.level-t
.header-one{
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
}

.header-two{
    flex-direction: row;
    border: 1px solid green;
}

.header-logo {
    font-size: 25px;
}

.header-link{
    font-size: 12px;
    justify-content: flex-end;
}