.front-page-container, html, body{
    height: 100%;
    margin: 0px;
}

.front-page-container {
    display: flex;
    flex-direction: column;
}

.front-page-container div {
    flex-basis: 1fr 1fr 1fr 2/3fr 1/3fr;
    flex: 1 1 300px;
    /* justify-content: stretch; */
}

.header-container {
    background-color: #1F2937;
    color: white;
    display:flex;
    flex: 1;
}

