@font-face {
    font-family: 'My Font';
    src: url(./ThaleahFat.ttf);
}

.blink {
    font-size: inherit;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation{
    from{
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

html, body{
    font-family: 'My Font', sans-serif;
    margin: 0px 0px 0px 0px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

main {
    background-color: black;
    background-image: url(./amsterdam-grayscale.png);
    background-size: 70vh, cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: 50px;
    height: calc(100vh-50px);
    width: 100%;
}

.introduction{
    color: white;
    font-size: 30px;

}