/*Preload the transition header*/
body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/capacitor_header_logo_hover.png) 
    url(../images/youtube-icon-color.png) 
    url(../images/x-icon-color.png) 
    url(../images/tiktok-icon-color.png);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Applies a global padding from left to right.*/
.content-wrapper{
    padding-left: 300px;
    padding-right: 300px;
}
h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-main-desktop-version{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #ededed;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
    border-bottom-width: thick;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.header-main-mobile-version{
    display: none;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px solid yellow;
}

.header-logo-container{
    display: flex;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-logo-icon{
    width: 120px;
    height: 100%;
    display: flex;
}

.header-logo-title{
    display: flex;
    width: 180px;
    height: 100%;
    align-items: center;
}

.header-nav-container{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-nav-container ul{
    list-style: none;

}

.header-nav-container ul li{
    display: inline;
    float: left;
}

.header-nav-container ul li a{
    padding: 0 10px;
    font-size: 2rem;
    line-height: 45px;
}

.header-nav-container ul li a:hover{
    cursor: pointer;
}

.header-socials{
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-socials-yt{
    width: 30px;
    height: 30px;
    background-image: url(../images/youtube-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-socials-x{
    width: 30px;
    height: 30px;
    background-image: url(../images/x-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-socials-tt{
    width: 30px;
    height: 30px;
    background-image: url(../images/tiktok-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-socials-yt:hover{
    background-image: url(../images/youtube-icon-color.png);
}

.header-socials-x:hover{
    background-image: url(../images/x-icon-color.png);
}

.header-socials-tt:hover{
    background-image: url(../images/tiktok-icon-color.png);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    width: 80px;
    height: 36px;
    display: flex;
    color: black;
    padding: 0 3px;
    font-size: 36px;
    text-align: center;
    line-height: 36px;
    
}

.dropdown-btn:hover{
    cursor: pointer;
    border: 2px solid #1e1e1e;
    border-radius: 10%;
}

.dropdown-arrow-down{
    display: flex;
    vertical-align: middle;
    padding-bottom: 5px;
}

.dropdown a{
    display: block;
    padding: 10px 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover button{
    background-color: #bbbbbb;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #b1b1b1;
    border-radius: 10%;
    padding: 15px 10px;
}

/*Placing the hero background image appropriately.*/
.hero-main{
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    background-image: url(../images/amsterdam-grayscale.png), url(../images/hero-background-pattern-scaled.png);
    background-size: 70vh, auto;
    background-repeat: no-repeat, repeat;
    background-position: bottom, top left;
    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
}

/*Formatting the introduction text for font and font-size.*/
.hero-intro{
    color: white;
    font-size: 80px;
    padding-top: 300px;
}

.hero-card{
    color: white;
    font-size: 60px;
    width: fit-content;
    padding: 0;
    margin-left: 1200px;
}

.hero-hire-anchor{
    color: white;
    font-size: 75px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    margin-left: 1200px;
    border-radius: 5px;
    border: thick solid #ededed;
}

.hero-hire-anchor:hover{
    cursor: pointer;
    border: thick solid green;
    background-color: rgba(4, 204, 4, 0.753);
    transition: 0.7s ease;
}

.history-title{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 80px;
}

.history-main{
    height: 2000px;
    width: 100vw;
    background-color: #bbbbbb;
    background-image: url(../images/capacitor-timeline-image-scaled.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.timeline{
    max-width: fit-content;
    padding-top: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 150px;
    color: black;
    background-color: #bbbbbb;
}

.timeline-component{
    font-size: 80px;
}

.projects-main{
    background-image: url(../images/projects-background.png);
    background-size: 40vh;
    background-repeat: repeat;
}


@media (max-width: 600px){
    .header-main-desktop-version{
        display: none;
    }

    .header-main-mobile-version{
        display: flex;
        min-width: 600px;
        position: fixed;
        top: 0;
        height: 50px;
        width: 100vw;
        background-color: #ededed;
        border-bottom-style: solid;
        border-bottom-color: #1e1e1e;
        border-bottom-width: thick;
        z-index: 2;
    }

    .header-container{
        display: flex;
        height: 50px;
        width: 100%;
        min-width: 600px;
    }

    .header-logo-container{
        border: 1px solid green;
        width: fit-content;
    }

    .header-nav-container{
        border: 1px solid magenta;
        width: fit-content;
        margin-left: auto;
    }

}

@media (min-width: 601px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    .header-main-mobile-version{
        display: none;
    }
    .header-main-desktop-version{
        display: flex;
    }
}


