h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Placing the hero background image appropriately.*/
.hero-main{
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
    background-image: url(../images/amsterdam-grayscale.png), url(../images/hero-background-pattern-scaled.png);
    background-size: 70vh, auto;
    background-repeat: no-repeat, repeat;
    background-position: bottom, top left;
    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
}
/*Formatting the introduction text for font and font-size.*/
.hero-intro{
    color: white;
    font-size: 80px;
    padding-top: 300px;
}

.hero-card{
    color: white;
    font-size: 60px;
    width: fit-content;
    padding: 0;
    margin-left: 1200px;
}

.hero-hire-anchor{
    color: white;
    font-size: 75px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    margin-left: 1200px;
    border-radius: 5px;
    border: 5px solid #ededed;
}

.hero-hire-anchor:hover{
    cursor: pointer;
    border: thick solid green;
    background-color: rgba(4, 204, 4, 0.753);
    transition: 0.7s ease;
}


@media (max-width: 600px){
    .main-mobile-version{
        display: flex;
        width: 100%;
        min-width: 0px;
        max-width: 600px;
    }
    .content-wrapper{
        padding-left: 50px;
        padding-right: 50px;
    }
    .hero-intro{
        font-size: 3rem;
        padding-top: 100px;
    }
    .hero-card{
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .hero-hire-anchor{
        margin: 0;
        background-color: rgba(4, 204, 4, 0.302);
        font-size: 2.5rem;
        height: 50px;
        width: fit-content;
    }

    .main-desktop-version{
        display: none;
    }
}

@media (min-width: 601px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    .main-mobile-version{
        display: none;
    }
    .main-desktop-version{
        display: flex;
    }
}