@font-face {
    font-family: 'ThaleahFat';
    src: url(../fonts/thaleahfat-webfont.woff);
}

.blink {
    font-size: inherit;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation{
    from{
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

html, body{
    font-family: 'ThaleahFat', sans-serif;
    scroll-behavior: smooth;
}







@media (max-width: 600px){

}

@media (min-width: 601px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}