header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-main{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #ededed;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
    border-bottom-width: thick;
}

/*Standard hero section dimensions.*/
.hero-image{
    height: 100vh; /*Trial and error dimension: wanted it to fit to the bottom when you open the page.*/
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
    border-bottom-width: thick;
}

h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer{
    width: 100%;
    height: 500px;
}
