header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-main{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #ededed;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
    border-bottom-width: thick;
    display: flex;
    justify-content: space-between;
}


.header-logo{
    width: fit-content;
    height: 100%;
    display: flex;
}

/*Placing the hero background image appropriately.*/
.hero-main{
    height: 100vh;
    margin-top: 50px;
    width: 100%;
    background-color: #1e1e1e;
    background-image: url(../images/amsterdam-grayscale.png), url(../images/hero-background-pattern-scaled.png);
    background-size: 70vh, auto;
    background-repeat: no-repeat, repeat;
    background-position: bottom, top left;
    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: #1e1e1e;
}

/*Formatting the introduction text for font and font-size.*/
.hero-intro{
    color: white;
    font-size: 80px;
    padding: 300px 0px 0px 25%; 

}

.history-title{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 80px;
}

.history-main{
    height: 2000px;
    width: 100%;
    background-color: #bbbbbb;
    background-image: url(../images/capacitor-timeline-image-scaled.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.timeline{
    margin: 200px auto auto 400px;
    max-width: fit-content;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 150px;
    color: black;
    background-color: #bbbbbb;
}

.timeline-component{
    font-size: 80px;
}

footer{
    width: 100%;
    height: 500px;
}

@media (max-width: 600px) {
    .header-main{
        width: 100vw;
    }

    .head-logo{
        width: 100%;
    }

    .hero-main{
        width: 100%;
        background-size: 70vh, 30vh;
    }
    .hero-intro{
        padding: 150px 0px 0px 10%;
        font-size: 40px;
    }

    .history-title{
        font-size: 40px;
    }

    .history-main{
        width: 100%;
        background-size: cover;
    }
    .timeline{
        width:100%;
        margin: 0px 0px 0px 0px;
    }

    .timeline-component{
        font-size: 20px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .header-main{
        width: 100%;
    }
    .hero-main{
        width: 100%;
    }
    .hero-intro{
        padding: 150px 0px 0px 10%;
        font-size: 40px;
    }
    .history-main{
        width: 100%;

    }
}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}
